<div style="line-height:24px;font-size:13px;">
    <img style="display:block;width:50px;margin:0 auto" src="https://cdn.vince.pub/blog-file/photo/i.jpg">
    <p><span style="color:#3eae5f"> <%=name%> </span> 说：</p>
    <p>
        <%-text%>
    </p>
    <p style="font-size:12px;line-height:12px;"><a style="color:#b3b3b1;text-decoration:none;" href="<%=url%>#comments" target="_blank">查看评论</a></p>
</div>